---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

//@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}"; // skin 



/* Container */
.archive__item--interactive {
    position: relative;
    margin-bottom: 2rem;
  }
  
  /* Teaser wrapper (hidden by default) */
  .archive__item-teaser-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  
  /* When hovering on title, reveal image */
  .archive__item-title:hover + .archive__item-teaser-wrapper {
    max-height: 300px; /* height of image */
  }
  
  /* Image styling */
  .archive__item-teaser {
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
    border-radius: 8px;
    object-fit: cover;
  }
  