$global-font-family: 'Inter', sans-serif !default;

$primary-color: #000000 !default;
$text-color: #222425 !default;
$link-color: #B5BCBF !default;
$link-color-hover: #DBDEDF !default;

@import "minimal-mistakes"; // must be last
