$global-font-family: 'Inter', sans-serif !default;

/* Normal state for links */
a {
  color: #B6BCBF; /* Soft silver gray */
}

/* Hover state for links */
a:hover {
  color: #222425; /* Deep charcoal */
}

/* Drag/selection styling */
::selection {
  background-color: #DBDEDF; /* Pale gray background */
  color: #222425;             /* Dark text for contrast */
}
