$global-font-family: 'Inter', sans-serif !default;

$primary-color: #0077cc !default;
$text-color: #222425 !default;
$link-color: #0077cc !default;
$link-color-hover: #DBDEDF !default;

@import "minimal-mistakes"; // must be last
